* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: AlibabaPuHuiTi;
    src: url(https://static.igem.wiki/teams/4594/wiki/alibabafont.ttf);
}

body {
    background: black;
}

span.ais-china {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: deepskyblue;
    margin-top: -10px
}

.my-nav {
    top: 0;
    width: 100%;
    height: 78px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    transition: all 0.2s linear;
}

.my-nav .icon {
    flex-basis: 200px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 7px;
    text-decoration: none;
    background-repeat: no-repeat;
}

.my-nav .icon img {
    width: auto;
    height: 100%;
    /*transition: 2s;*/
}

.icon-over {
    height: 50%;
}

.my-navbar {
    height: 67px;
    margin-left: 20px;
    margin-right: 70px;
    margin-top: 24px;
    list-style: none;
}

.my-active-navbar {
    border-bottom: #4CAF50;
    border-width: 0px 0px 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 128, 157);
    /*border-radius: 0px;*/
}

.my-navbar > li {
    float: left;
    width: 120px;
    height: 110%;
}

#human-practice {
    width: 250px;
}

#edu {
    width: 90px;
}

.my-navbar > li a {
    color: var(--text, var(--text, #F8F0E8));
    font-family: AlibabaPuHuiTi;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: color 0.15s linear;
}

.son {
    margin-top: 30px;
    list-style: none;
    display: none;
    text-align: left;
    transition: all 0.3s ease-out;
    opacity: 0;
}

@media screen and (min-width: 1800px) {
    .my-navbar > li {
        width: 150px;
    }

    #human-practice {
        width: 280px;
    }

    .my-nav > ul > li a {
        font-size: 30px;
    }

    .my-navbar {
        margin-top: 25px;
    }

    .my-nav .icon {
        flex-basis: 240px;
        margin-left: 25px;
        margin-top: 15px;
    }

    .my-nav {
        height: 84px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1280px) {
    .my-navbar > li {
        width: 100px;
    }

    #human-practice {
        width: 210px;
    }

    .my-nav > ul > li a {
        font-size: 22px;
    }

    .my-navbar {
        margin-top: 23px;
    }

    .my-nav .icon {
        flex-basis: 200px;
        margin-left: 18px;
    }

    .my-nav {
        height: 74px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1120px) {
    .my-navbar > li {
        width: 88px;
    }

    #human-practice {
        width: 190px;
    }

    #edu {
        width: 80px;
    }

    .my-nav > ul > li a {
        font-size: 20px;
    }

    .my-navbar {
        margin-top: 21px;
    }

    .my-nav .icon {
        flex-basis: 150px;
        margin-left: 5px;
        background-position-x: -25px;
        background-position-y: 5px;
        background-size: 130%;
    }

    .my-nav {
        height: 70px;
    }
}

@media screen and (max-width: 1130px) {
    .my-navbar > li {
        width: 78px;
    }

    #human-practice {
        width: 160px;
    }

    #edu {
        width: 70px;
    }

    .my-nav > ul > li a {
        font-size: 18px;
    }

    .my-navbar {
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .my-nav .icon {
        flex-basis: 0px;
        margin: 0;
    }

    .my-nav {
        height: 55px;
        justify-content: center;
    }

    .son {
        margin-top: 20px;
    }
}

/* hide the navigation */
@media screen and (max-width: 830px) {
    .my-navbar {
        display: none;
    }
    .my-nav .icon {
        align-self: center;
        height: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(lawngreen, lightseagreen, midnightblue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
::-webkit-scrollbar-button{
    background: transparent;
}
