.dropdown-item:hover {
    background-color: inherit !important;
}

.konami {
    background-color: rgb(17, 17, 17);
}

.konami .accordion-general, .konami .accordion-general-content {
    background-color: rgb(24, 24, 24);
}

.konami .header-zigzag {
    display: none;
}

.konami p, .konami li, .konami h2, .konami figcaption, .konami h1.accordion-general-label, .konami h1#header-title {
    text-shadow: rgb(255, 255, 255) 0px 0px 7px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 21px, rgb(0, 255, 170) 0px 0px 42px, rgb(0, 255, 170) 0px 0px 82px, rgb(0, 255, 170) 0px 0px 92px, rgb(0, 255, 170) 0px 0px 102px, rgb(0, 255, 170) 0px 0px 151px;
    color: rgb(255, 255, 255) !important;
}

.konami h1#header-title, .konami #subheader p, .konami #sidenav li {
    animation: 1.5s ease 0s infinite alternate none running flicker;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: rgb(255, 255, 255) 0px 0px 4px, rgb(255, 255, 255) 0px 0px 11px, rgb(255, 255, 255) 0px 0px 19px, rgb(0, 255, 170) 0px 0px 40px, rgb(0, 255, 170) 0px 0px 80px, rgb(0, 255, 170) 0px 0px 90px, rgb(0, 255, 170) 0px 0px 100px, rgb(0, 255, 170) 0px 0px 150px;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

@font-face {
    font-family: Kunika;
    src: url("https://static.igem.wiki/teams/4259/wiki/kunika-regular.ttf") format("truetype"), url("https://static.igem.wiki/teams/4259/wiki/kunika-regular.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/kunika-regular.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations");
    font-weight: 250 1000;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-light.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-light.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-regular.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-regular.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-medium.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-medium.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-semibold.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-semibold.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-bold.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-bold.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-extrabold.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-extrabold.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: TildaSans;
    src: url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff2") format("woff2-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-vf.woff") format("woff-variations"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-black.woff2") format("woff2"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-black.woff") format("woff"), url("https://static.igem.wiki/teams/4259/wiki/tildasans-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

*, p, h1, h2, h3, ul, ol {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: TildaSans, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    background-color: rgb(240, 240, 240);
}

h1 {
    color: rgb(240, 240, 240);
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 2px 2px;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

p {
    font-size: 1.125em;
    text-align: justify;
}

#references ol li {
    margin-bottom: 0.5em;
}

.emoji {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.19em;
    background-repeat: no-repeat;
}

.wi-30, .wi-lg-30, .wi-md-30, .wi-sm-30 {
    width: 30% !important;
    height: auto;
}

.wi-40, .wi-lg-40, .wi-md-40, .wi-sm-40 {
    width: 40% !important;
    height: auto;
}

.wi-50, .wi-lg-50, .wi-md-50, .wi-sm-50 {
    width: 50% !important;
    height: auto;
}

.wi-60, .wi-lg-60, .wi-md-60, .wi-sm-60 {
    width: 60% !important;
    height: auto;
}

.wi-75, .wi-lg-75, .wi-md-75, .wi-sm-75 {
    width: 75% !important;
    height: auto;
}

.wi-90, .wi-lg-90, .wi-md-90, .wi-sm-90 {
    width: 90% !important;
    height: auto;
}

.wi-100, .wi-lg-100, .wi-md-100, .wi-sm-100 {
    width: 100% !important;
    height: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: rgb(248, 153, 56);
}

a.hyperlink {
    display: inline-block;
    position: relative;
    z-index: 1;
}

a:hover.hyperlink {
    color: inherit;
}

a:hover.hyperlink.blue {
    color: white;
}

a.hyperlink::before {
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    left: 1px;
    right: 1px;
    bottom: 4px;
    background-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 1px 2px;
    transition: height 0.3s ease 0s, box-shadow 0.3s ease 0s;
    z-index: -1;
}

a.hyperlink.blue::before {
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    left: 1px;
    right: 1px;
    bottom: 4px;
    background-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 1px 2px;
    transition: height 0.3s ease 0s, box-shadow 0.3s ease 0s;
    z-index: -1;
}

a.hyperlink.blue::before {
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    left: 1px;
    right: 1px;
    bottom: 4px;
    background-color: rgb(14, 110, 183);
    box-shadow: rgb(14, 110, 183) 0px 0px 1px 2px;
    transition: height 0.3s ease 0s, box-shadow 0.3s ease 0s;
    z-index: -1;
}

a:hover.hyperlink::before {
    height: 65%;
    box-shadow: rgb(248, 153, 56) 0px 0px 2px 2px;
}

a:hover.hyperlink.blue::before {
    height: 65%;
    box-shadow: rgb(14, 110, 183) 0px 0px 2px 2px;
}

figure {
    margin: 0px;
}

figcaption {
    font-size: 1em;
}

.left-aligned {
    margin-left: auto !important;
}

.strong {
    font-weight: bold;
}

.emphasis-text {
    font-size: 1.5em;
    line-height: 1.6em;
    text-align: center;
}

.break-line-short {
    background-color: rgb(0, 0, 0);
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    width: 20%;
}

.break-line {
    background-color: rgb(0, 0, 0);
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    width: 75%;
}

#page-content-wrapper {
    margin-top: 6.8em;
}

#progress-container {
    position: fixed;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 4px;
    left: 0px;
}

#progress-bar {
    height: 4px;
    background: rgb(248, 153, 56);
    width: 0%;
}

.navbar button.navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    border-bottom: 2px solid rgba(22, 58, 30, 0.15);
    background-color: rgb(240, 240, 240);
}

.navbar .navbar-nav .nav-link {
    color: black;
    font-family: Kunika, TildaSans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

.navbar .navbar-nav li.dropdown .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.5em 3em;
    margin-top: 0px;
    width: 98%;
    left: 1%;
    border-radius: 0px;
    font-size: 1.125em;
    line-height: 1.2;
    padding: 1.25rem;
}

.navbar a.dropdown-toggle::after {
    transition: all 0.5s ease 0s;
}

.navbar a.show.dropdown-toggle::after {
    transform: rotate(180deg);
    transition: all 0.5s ease 0s;
}

.navbar .navbar-nav li.dropdown .dropdown-link-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-nav li.dropdown .dropdown-link-wrapper a:hover {
    color: rgb(248, 153, 56);
}

.navbar .navbar-nav li.dropdown .dropdown-link-wrapper .dropdown-icon-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 0 0 2.5em;
    color: rgb(21, 46, 84);
}

.navbar .navbar-nav li.dropdown .dropdown-link-wrapper a:hover .dropdown-icon-wrapper {
    color: rgb(248, 153, 56);
}

.navbar .navbar-nav li.dropdown .dropdown-link-wrapper .dropdown-item {
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    color: inherit;
}

.navbar-collapse {
    background-color: rgb(248, 249, 250);
    z-index: 5000;
}

.navbar-collapse .flex-shrink-0 {
    max-width: 100%;
}

.navbar .navbar-nav li.dropdown .dropdown-link-wrapper .text-navbar-muted {
    font-size: 0.9375em;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    opacity: 0.4;
    text-align: left;
}

@media only screen and (max-width: 576px) {
    .navbar {
        height: 5em;
    }

    .navbar .binanox_text {
        margin-left: 2.8em;
    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        height: 4em;
    }

    .navbar .binanox_text {
        margin-left: 2em;
    }
}

@media only screen and (min-width: 576px) {
    .navbar {
        height: 6em;
    }

    .navbar .binanox_text {
        margin-left: 3.5em;
    }
}

.navbar .binanox_logo {
    width: 600px;
    height: 50px;
    position: relative;
}

.navbar .binanox_text {
    position: absolute;
    scale: 0.65;
    transform-origin: left center;
    animation: 8s ease 0s 1 normal none running blink;
}

.orange {
    height: 100%;
    position: absolute;
    mask-image: radial-gradient(circle, black 0%, transparent 200%);
    mask-position: center center;
    mask-repeat: no-repeat;
    animation: 8s ease 0s 1 normal none running orange;
}

.grey {
    height: 100%;
    position: absolute;
    mask-image: radial-gradient(circle, black 0%, transparent 200%);
    mask-position: center center;
    mask-repeat: no-repeat;
    animation: 8s ease 0s 1 normal none running grey;
}

.paused {
    animation-play-state: paused;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@keyframes grey {
    0% {
        mask-size: 20% 20%;
        transform: rotate(0deg);
    }

    5% {
        mask-size: 20% 20%;
        transform: rotate(0deg);
    }

    30% {
        mask-size: 200% 200%;
        transform: rotate(0deg);
    }

    65% {
        mask-size: 200% 200%;
        transform: rotate(90deg);
    }

    75% {
        mask-size: 200% 200%;
        transform: rotate(90deg);
    }

    100% {
        mask-size: 200% 200%;
        transform: rotate(90deg);
    }
}

@keyframes orange {
    0% {
        mask-size: 20% 20%;
        transform: rotate(0deg);
    }

    30% {
        mask-size: 200% 200%;
        transform: rotate(0deg);
    }

    65% {
        mask-size: 200% 200%;
        transform: rotate(90deg);
    }

    75% {
        mask-size: 200% 200%;
        transform: rotate(90deg);
    }

    100% {
        mask-size: 200% 200%;
        transform: rotate(90deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    18% {
        opacity: 1;
    }

    23% {
        opacity: 0.7;
    }

    28% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.cls-11 {
    fill: url("#Naamloos_verloop_3");
}

.cls-12 {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

.cls-1 {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

.cls-2 {
    fill: url("#Naamloos_verloop_32");
}

.cls-3 {
    fill: url("#Naamloos_verloop_32-2");
}

.cls-4 {
    fill: url("#Naamloos_verloop_32-3");
}

.cls-5 {
    fill: url("#Naamloos_verloop_32-4");
}

.cls-6 {
    fill: url("#Naamloos_verloop_32-5");
}

.cls-7 {
    fill: url("#Naamloos_verloop_32-6");
}

.cls-8 {
    fill: url("#Naamloos_verloop_32-7");
}

.cls-9 {
    fill: url("#Naamloos_verloop_32-8");
}

.cls-10 {
    fill: url("#Naamloos_verloop_32-9");
}

.cls-13 {
    fill: rgb(51, 51, 51);
}

.dropdown-slide-in {
    animation-name: dropdown-slide-in;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes dropdown-slide-in {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes dropdown-slide-in {
    0% {
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

#header {
    padding-top: 9rem;
    width: 100%;
    text-align: center;
}

#header .bg-hero {
    background-image: url("https://static.igem.wiki/teams/4259/wiki/bg-hero.png");
    background-size: cover;
    background-position: center center;
    background-color: rgb(240, 240, 240);
    width: 95%;
    border-radius: 2rem;
    z-index: -1;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#header .header-zigzag {
    position: relative;
}

#header .header-zigzag::after {
    background: linear-gradient(-45deg, rgb(240, 240, 240) 1rem, transparent 0px) left bottom / 48px 48px repeat-x, linear-gradient(45deg, rgb(240, 240, 240) 1rem, transparent 0px);
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
}

#header-title {
    color: white;
    font-family: Kunika, TildaSans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 3.75em;
    display: inherit;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    border-style: none;
    margin-bottom: 0px;
}

#header .orange-circle {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: rgb(248, 153, 56);
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    z-index: -2;
    box-shadow: rgb(248, 153, 56) 0px 0px 20px 20px;
}

#header .blue-circle {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: rgb(14, 110, 183);
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    z-index: -2;
    box-shadow: rgb(14, 110, 183) 0px 0px 20px 20px;
}

.parallax-wrap {
    position: relative;
    display: flex;
}

#subheader {
    padding-top: 1.3em;
    padding-bottom: 1.8em;
    font-weight: 400;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: left;
    z-index: 12;
}

#subheader p {
    text-align: left;
}

#header .header-description {
    flex: 0 0 220px;
    text-align: left;
    line-height: 1.875em;
}

#header .header-description-title {
    position: relative;
    font-size: 1.125em;
    font-weight: 600;
    margin-top: 0px;
    z-index: 13;
    text-transform: uppercase;
}

#header .header-description-subtitle {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1.5em;
}

#header .header-description-subtitle {
    text-align: left;
}

.relative {
    position: relative;
}

.container-content {
    width: 83.3333% !important;
}

#sidenav-wrapper {
    height: 100%;
    position: absolute;
    padding-bottom: 10em;
    margin-left: -2em;
}

#sidenav-wrapper ul {
    padding-left: 0px;
}

#sidenav {
    text-align: left;
    position: sticky;
    top: 0px;
    font-size: 1.25em;
    line-height: 1.6em;
    padding-top: 8em;
}

i {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

#sidenav a:hover {
    color: inherit;
}

#sidenav .nav-header {
    color: rgb(248, 153, 56);
    font-weight: 900;
}

#sidenav .sidenav-link.nav-link {
    color: rgb(30, 30, 30);
    font-weight: 400;
    position: relative;
}

#sidenav .sidenav-link.nav-link::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    transform: scaleY(0.6);
    left: 10px;
    top: 0px;
    z-index: -100;
    background-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 10px 5px;
    transform-origin: left center;
}

#sidenav .unactive.sidenav-link.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 0px;
    background-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 10px 5px;
    transform-origin: left center;
    animation-name: SidenavStretchLeft;
    animation-delay: 0s;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    z-index: -1;
}

#sidenav .active.sidenav-link.nav-link::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    left: 10px;
    top: 0px;
    background-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 10px 5px;
    transform-origin: left center;
    animation-name: SidenavStretchRight;
    animation-delay: 0s;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    z-index: -1;
}

@keyframes SidenavStretchRight {
    0% {
        width: 10%;
    }

    100% {
        width: 100%;
    }
}

@keyframes SidenavStretchLeft {
    0% {
        width: 100%;
    }

    100% {
        width: 10%;
    }
}

.math-large {
    font-size: 2em;
}

.math-start mjx-container[jax="CHTML"][display="true"] {
    text-align: start;
}

.math-end mjx-container[jax="CHTML"][display="true"] {
    text-align: end;
}

iframe.pdf {
    width: 80%;
    height: 500px;
}

.sticky-note-y {
    width: 18.75em;
    height: 12.5em;
    background-color: rgb(254, 217, 0);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgba(254, 217, 0, 0.9) 0px 0px 3px 2px;
}

.sticky-note-b {
    width: 18.75em;
    height: 15em;
    background-color: rgb(14, 110, 183);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgb(14, 110, 183) 0px 0px 3px 2px;
    color: rgb(255, 255, 255);
}

.sticky-note-r {
    width: 18.75em;
    height: 12.5em;
    background-color: rgb(241, 103, 89);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgb(241, 103, 89) 0px 0px 3px 2px;
    color: rgb(255, 255, 255);
}

.sticky-note-r-full {
    background-color: rgb(241, 103, 89);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgb(241, 103, 89) 0px 0px 3px 2px;
    color: rgb(255, 255, 255);
}

.sticky-note-o-full {
    background-color: rgb(248, 153, 56);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgb(248, 153, 56) 0px 0px 3px 2px;
    color: rgb(255, 255, 255);
}

.sticky-note-y-full {
    background-color: rgb(254, 217, 0);
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgba(254, 217, 0, 0.9) 0px 0px 3px 2px;
}

.sticky-note-y ul, .sticky-note-b ul, .sticky-note-r ul {
    padding-left: 1em;
}

.sticky-note-y li, .sticky-note-b li, .sticky-note-r li {
    font-size: 1.125em;
}

.sticky-note-y p, .sticky-note-b p, .sticky-note-r p {
    font-size: 1em;
    text-align: left;
    margin-top: 0px !important;
}

p.sticky-note-header {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.8em;
}

.card-small {
    height: 340px;
    padding: 0.5em;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    overflow: auto;
}

.card-small-circle-r {
    width: 76px;
    height: 76px;
    margin-top: 2em;
    background-color: rgb(241, 103, 89);
    border-radius: 50%;
}

.card-small-circle-b {
    width: 76px;
    height: 76px;
    margin-top: 2em;
    background-color: rgb(14, 110, 183);
    border-radius: 50%;
}

.card-small-circle-o {
    width: 76px;
    height: 76px;
    margin-top: 2em;
    background-color: rgb(248, 153, 56);
    border-radius: 50%;
}

.card-small-circle-y {
    width: 76px;
    height: 76px;
    margin-top: 2em;
    background-color: rgb(254, 217, 0);
    border-radius: 50%;
}

.card-small-circle-g {
    width: 76px;
    height: 76px;
    margin-top: 2em;
    background-color: rgb(82, 164, 88);
    border-radius: 50%;
}

.card-small-title {
    text-align: center;
    margin-top: 24px;
    max-width: 250px;
    font-size: 1.25em;
    font-weight: 600;
}

.card-small-text {
    margin-top: 24px;
    text-align: center;
    font-size: 1em;
}

.card-gallery-day-s {
    font-size: 220px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
    line-height: 170px;
    margin-top: 0px !important;
}

.card-gallery-date-s {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
    line-height: 60px;
    margin-top: 0px !important;
}

.card-gallery-title-s {
    color: rgb(0, 0, 0);
    font-family: Kunika, Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
    line-height: 1em;
    margin-top: -1em !important;
    text-align: left !important;
}

.card-gallery-day-e {
    font-size: 220px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
    line-height: 170px;
    left: -10px;
    margin-top: 0px !important;
}

.card-gallery-date-e {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
    line-height: 60px;
    margin-top: 0px !important;
}

.card-gallery-title-e {
    color: rgb(0, 0, 0);
    font-family: Kunika, Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;
    line-height: 1em;
    margin-top: -1em !important;
    text-align: left !important;
}

.card-gallery-date-wrapper {
    position: absolute;
    opacity: 0.6;
    z-index: -1;
    text-align: left !important;
}

.card-gallery {
    max-height: 600px;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
}

.order1 {
    position: relative;
}

.card-gallery-text {
    max-width: 100%;
}

.card-gallery-text p {
    margin-top: 0px !important;
}

.card-gallery-r .btn {
    background-color: rgb(254, 217, 0);
    box-shadow: rgba(254, 217, 0, 0.9) 0px 0px 3px 2px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    font-weight: 700;
    font-size: 1.25em;
}

.card-gallery-o .btn {
    background-color: rgb(14, 110, 183);
    box-shadow: rgba(14, 110, 183, 0.9) 0px 0px 3px 2px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    font-weight: 700;
    font-size: 1.25em;
    color: rgb(255, 255, 255);
}

.card-gallery .carousel {
    width: 100%;
    height: fit-content;
    top: -10px;
    margin: 0px auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease 0s;
}

.card-gallery .slick-slide {
    margin: 10px;
}

.awards_slick {
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}

.awards_slick.slick-initialized {
    opacity: 1;
}

.card-gallery .carousel.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.card-gallery .slick-slide img {
    width: 545px;
    height: 306.562px;
    object-fit: cover;
    border-radius: 10px;
}

.card-gallery-r .slick-prev::before, .card-gallery-r .slick-next::before {
    color: rgb(241, 103, 89);
}

.card-gallery-o .slick-prev::before, .card-gallery-o .slick-next::before {
    color: rgb(247, 200, 150);
}

.card-gallery .slick-prev {
    left: -55px;
    width: 40px;
    height: 40px;
}

.card-gallery .slick-next {
    right: -55px;
    width: 40px;
    height: 40px;
}

.card-gallery .slick-prev::before, .card-gallery .slick-next::before {
    font-size: 40px;
}

.table {
    font-size: 1.125em;
    font-weight: 400;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(242, 222, 201);
    box-shadow: none;
}

thead th {
    border-top-width: 1px;
    border-top-color: currentcolor;
    padding: 1.25rem !important;
}

tbody th {
    font-weight: 400;
}

.accordion-general {
    background-color: rgb(255, 255, 255);
    padding: 25px 30px;
}

.accordion-general-label {
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(33, 37, 41);
    display: inherit;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    border-style: none;
    margin-bottom: 0px;
    line-height: 1.5;
}

.accordion-general.btn:focus {
    box-shadow: none;
}

#page-content-wrapper .btn-light.btn:focus {
    box-shadow: none;
}

.accordion-icon {
    transition: all 0.3s ease-in-out 0s;
}

.btn[aria-expanded="false"] .accordion-icon:hover {
    transition: all 0.3s ease-in-out 0s;
}

.btn[aria-expanded="true"] .accordion-icon {
    transition: all 0.3s ease-in-out 0s;
    transform: rotate(45deg);
}

.accordion-general-icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: rgb(247, 200, 150);
    border-radius: 50%;
}

.btn:hover[aria-expanded="false"] .accordion-general-icon-wrapper {
    background-color: rgb(248, 153, 56);
}

.btn[aria-expanded="true"] .accordion-general-icon-wrapper {
    background-color: rgb(248, 153, 56);
}

.accordion-general-content {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 0px;
}

.modal-content {
    border-color: rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 3px 2px;
}

.modal-header {
    height: 4em;
}

.modal-body {
    background-color: rgb(240, 240, 240);
}

.modal-header .btn-close {
    right: 3rem;
    top: 3rem;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center center / 1.5em no-repeat transparent;
}

.modal-header .btn-close:hover {
    opacity: 1;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f89938'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center center / 1.5em no-repeat transparent;
}

footer {
    background-color: rgb(227, 227, 227);
    text-decoration: none;
    font-family: Kunika, TildaSans, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.35;
}

#mail {
    text-decoration: none;
}

#contact-info {
    color: rgb(33, 37, 41);
}

#social-media {
    text-align: center;
    color: rgb(255, 128, 0);
}

#social-media .footer-bg-color {
    color: rgb(51, 51, 51);
}

#social-media a:hover {
    color: rgb(247, 200, 150);
    transition: all 0.4s ease 0s;
}

#nav-to-top {
    color: rgb(33, 37, 41);
    text-align: right;
}

#nav-to-top a {
    display: inline-block;
}

#nav-to-top a:hover {
    color: rgb(255, 128, 0);
}

#footer-source {
    color: rgb(33, 37, 41);
}

#footer-source a:hover {
    text-decoration: none;
}

footer .carousel {
    width: 90%;
    margin: 0px auto;
}

footer .slick-slide {
    margin: 10px;
}

footer .slick-slide img {
    width: 220px;
    height: auto;
}

footer .slick-track {
    display: flex;
}

footer .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

#bbdesign {
    top: -25px;
    position: relative;
}

.parallax-wrap {
    position: relative;
    display: flex;
}

:root {
    --primary: #ffce00;
    --secondary: #fe4880;
    --dark: #212121;
    --light: #f3f3f3;
}

.card_team {
    height: 450px;
    perspective: 1000px;
    background-color: rgb(240, 240, 240);
}

.card_team_wo {
    height: 450px;
    perspective: 1000px;
    background-color: rgb(240, 240, 240);
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s ease 0s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner_wo {
    width: 100%;
    height: 100%;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 18px 3px;
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__face--front h3 {
    color: rgb(30, 30, 30);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 20px;
}

.card__header::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0px;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 25%;
}

.image_card-front {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0px auto 30px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    border: 4px solid rgb(255, 255, 255);
    object-fit: cover;
}

.image_card-back {
    display: block;
    padding: 0px;
    margin: 0px auto 10px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    border: 4px solid rgb(255, 255, 255);
    object-fit: cover;
}

.card__header .col-4 {
    padding: 0px;
}

.card__header h2 {
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
}

.card__header h3 {
    color: rgb(30, 30, 30);
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
}

.card__body {
    padding: 1em;
    text-align: left;
}

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    color: var(--dark);
    font-size: 16px;
    line-height: 1.4;
}

.team_name {
    color: rgb(248, 153, 56);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    font-size: 2.5em;
}

.sponsors .h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: inherit;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    border-style: none;
    margin-bottom: 0px;
    display: block;
}

.sponsors .break-line {
    border-width: 2px;
    width: 100%;
}

.sponsor-logo-wrapper-b {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(14, 110, 183) 0px 0px 3px 2px;
    height: 182.25px;
    width: 324px;
    text-align: center;
}

.sponsor-logo-wrapper-o {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(248, 153, 56) 0px 0px 3px 2px;
    height: 182.25px;
    width: 324px;
    text-align: center;
}

.sponsor-logo-wrapper-r {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(241, 103, 89) 0px 0px 3px 2px;
    height: 182.25px;
    width: 324px;
    text-align: center;
}

.sponsor-logo-wrapper a:hover {
    color: inherit;
}

.sponsor-logos {
    width: 85%;
    height: auto;
}

.sponsor-logo-wrapper-large {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(248, 153, 56) 0px 0px 3px 2px;
    width: 90%;
}

.sponsor-logos-small {
    width: 24%;
    height: auto;
    text-align: center;
    margin: 20px 0px;
}

.engineering p, .poc p, .pe p, .des p, .con p, .res p, .entrepreneurship p, .saf p, .implementation p, .hp p, .sponsors p, .featured p {
    margin-top: 0.8em;
}

.intense {
    cursor: url("https://static.igem.wiki/teams/4259/wiki/engineering-page/plus-cursor.png") 25 25, auto;
    background-color: rgb(240, 240, 240);
}

.btn.protocol-button {
    font-weight: 600;
    cursor: pointer;
}

.protocol-icon {
    transition: all 0.3s ease-in-out 0s;
}

.btn[aria-expanded="false"] .protocol-icon:hover {
    color: rgb(248, 153, 56);
    transition: all 0.3s ease-in-out 0s;
}

.btn[aria-expanded="true"] .protocol-icon {
    color: rgb(248, 153, 56);
    transition: all 0.3s ease-in-out 0s;
    transform: rotate(45deg);
}

.protocols .card-body h2 {
    margin-top: 1em;
}

.protocols h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.protocols ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.protocols ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.protocols .table-striped tr:nth-child(1) {
    border-top-width: 1px;
    border-top-color: currentcolor;
    border-bottom-width: 1px;
    border-bottom-color: currentcolor;
    box-shadow: none;
    padding: 1.25rem !important;
}

.protocols .table-striped tr:nth-child(1) td {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 1.25rem !important;
}

.protocols .table-striped td {
    box-shadow: none;
}

.protocols table > * {
    box-shadow: none;
}

.protocols table {
    display: block;
}

.crowdfunding .progress-bar {
    width: 0%;
    transition: all 2s ease-in-out 0s;
    background-color: rgb(248, 153, 56);
}

.crowdfunding .progress-bar.progress-bar-animate {
    width: 100%;
    transition: all 2s ease-in-out 0s;
    background-color: rgb(248, 153, 56);
}

.crowdfunding button {
    font-weight: 700;
    font-size: 1.3em;
}

.crowdfunding iframe {
    width: 100%;
    height: auto;
}

.crowdfunding .thanks {
    color: rgb(248, 153, 56);
}

.crowdfunding .btn-warning {
    background-color: rgb(254, 217, 0);
    box-shadow: rgba(254, 217, 0, 0.9) 0px 0px 3px 2px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    font-weight: 700;
    font-size: 1.25em;
}

.wrapper_aa {
    max-width: 100%;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    background-color: rgb(248, 153, 56);
    transform: scale(1.1);
    color: white;
}

.crowdfunding .marquee_aa {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: 30s linear 0s infinite normal none running marquee_aa;
}

.crowdfunding .marquee_aa p {
    display: inline-block;
}

.crowdfunding .marquee_aa span {
    padding-left: 3em;
}

@keyframes marquee_aa {
    0% {
        transform: translate3d(-50%, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.attributions ul {
    list-style: none !important;
}

.attributions ul li {
    margin-top: 0.3em;
}

.attributions .table-striped tr:nth-child(1) {
    border-top-width: 1px;
    border-top-color: currentcolor;
    border-bottom-width: 1px;
    border-bottom-color: currentcolor;
    box-shadow: none;
    padding: 1.25rem !important;
}

.attributions .table-striped tr:nth-child(1) td {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 1.25rem !important;
}

.attributions .table-striped td {
    box-shadow: none;
}

.attributions table > * {
    box-shadow: none;
}

.featured .scroll-box {
    overflow: hidden auto;
    height: 300px;
    border: 3px solid rgb(248, 153, 56);
    box-shadow: rgb(248, 153, 56) 0px 0px 20px 5px;
    border-radius: 5px;
    margin-top: auto;
}

.featured .scroll-box .article-scroll {
    width: 100%;
}

.featured .logo {
    width: 50%;
    margin-top: 2em;
}

.collaboration #collaboratory .items {
    width: 90%;
    margin: 0px auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease 0s;
    box-shadow: rgb(248, 153, 56) 0px 0px 20px 5px;
    background-color: rgb(248, 153, 56);
}

#collaboratory .slick-track {
    display: flex;
}

#collaboratory .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.collaboration #collaboratory .slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#collaboratory .items.slick-initialized {
    visibility: visible;
    opacity: 1;
}

#collaboratory .items .slick-prev::before, .items .slick-next::before {
    color: rgb(248, 153, 56);
    font-size: 30px;
    z-index: 100;
}

#collaboratory .items .slick-prev {
    left: -55px;
    width: 40px;
    height: 40px;
}

.items .slick-next {
    right: -55px;
    width: 40px;
    height: 40px;
}

.collaboration .btn-warning {
    background-color: rgb(254, 217, 0);
    box-shadow: rgba(254, 217, 0, 0.9) 0px 0px 3px 2px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    font-weight: 700;
    font-size: 1.25em;
}

.collaboration .modal-body p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.notebook p {
    margin-top: 0.8em;
}

.notebook ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.notebook ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.notebook h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.25em;
}

.notebook h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

.notebook h1 {
    margin-top: 1em;
}

.measurement p {
    margin-top: 0.8em;
}

.accordion-general-label {
    margin-top: 0px !important;
}

.measurement ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.measurement ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.measurement h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.25em;
}

.measurement h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

.measurement h1 {
    margin-top: 1em;
}

.interlab h1 {
    margin-top: 1em;
}

.interlab h2 {
    margin-top: 1em;
}

.interlab [id]::before {
    content: "";
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

.parts ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.parts ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.parts .table-striped tr:nth-child(1) {
    border-top-width: 1px;
    border-top-color: currentcolor;
    border-bottom-width: 1px;
    border-bottom-color: currentcolor;
    box-shadow: none;
    padding: 1.25rem !important;
}

.parts .table-striped tr:nth-child(1) td {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 1.25rem !important;
}

.parts .table-striped td {
    box-shadow: none;
}

.parts table > * {
    box-shadow: none;
}

.parts h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.parts h2 {
    font-size: 1.75em;
    margin-top: 1em;
}

.parts table {
    display: block;
}

.model .card-small {
    height: 440px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.model h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.model h2 {
    font-size: 1.75em;
    margin-top: 1em;
}

.model h1 {
    margin-top: 1em;
}

.model ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.model ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.model p {
    margin-top: 1em;
}

.model table {
    margin-top: 1em;
    caption-side: top;
}

.model .card-small-circle-r, .model .card-small-circle-o, .model .card-small-circle-b {
    margin-top: 0px;
}

.entrepreneurship .table-striped tr:nth-child(1), .model .table-striped tr:nth-child(1) {
    border-top-width: 1px;
    border-top-color: currentcolor;
    border-bottom-width: 1px;
    border-bottom-color: currentcolor;
    box-shadow: none;
    padding: 1.25rem !important;
}

.entrepreneurship .table-striped tr:nth-child(1) td, .model .table-striped tr:nth-child(1) td {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 1.25rem !important;
}

.entrepreneurship .table-striped td, .model .table-striped td {
    box-shadow: none;
}

.model table > * {
    box-shadow: none;
}

.model .sticky-note-y {
    height: auto;
}

.home #header-title {
    color: white;
    font-family: Kunika, TildaSans, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    display: inherit;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    border-style: none;
    margin-bottom: 0px;
}

.home b {
    font-weight: 800;
}

.home a:hover.btn-custom-hover {
    color: rgb(248, 153, 56) !important;
}

.home .btn-custom-hover.btn-warning {
    color: rgb(255, 255, 255);
}

#header .header-circle-wrapper {
    content: " ";
    display: block;
    width: 100%;
}

#header .header-circle {
    height: 100px;
    width: 150px;
    border-radius: 30%;
    background-color: rgb(240, 240, 240);
    margin-top: -50px;
    z-index: 100;
}

.home #header {
    padding-top: 0px;
}

.home #header .bg-hero {
    border-radius: 0px 0px 5em 5em;
}

.home .particles {
    height: 300px;
}

.home .particles div {
    height: 150px;
}

@media only screen and (max-width: 992px) {
    .home .particles div {
        height: 120px;
    }

    .home .mobile-arrow {
        display: inline;
    }

    .home .screen-arrow {
        display: none;
    }

    .home .protein {
        height: 150px;
    }

    .home .special {
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

@media only screen and (max-width: 572px) {
    .home .particles .np-circle {
        height: 110px;
    }

    .home .special {
        padding-top: 4em;
        padding-bottom: 8em;
    }
}

@media only screen and (min-width: 992px) {
    .home .special {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .home .mobile-arrow {
        display: none;
    }

    .home .screen-arrow {
        display: inline;
    }

    .home .protein {
        height: 250px;
    }
}

.home .card-small {
    height: 360px;
}

.home .np-hexagon img {
    margin-top: 8em;
}

.home .np-blur {
    filter: blur(2px);
}

.home .methods div {
    height: 150px;
}

.home {
    overflow-x: hidden;
}

.home #reactor_gif {
    margin: 0px auto;
    height: 250px;
    background: transparent;
}

.home .stop-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: auto;
}

.home .binanox-logo {
    height: 2em;
    width: auto;
}

.home .solution div {
    height: 150px;
    z-index: 100;
}

.home .solution {
    background-color: rgb(247, 200, 150);
    border-radius: 100px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgb(247, 200, 150) 0px 0px 30px 30px;
}

.home .benefits {
    height: 250px;
}

.home .bac-green {
    height: 150px;
    width: auto;
}

.home .tweezers {
    height: 100px;
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: 1em;
    top: 35%;
}

.home .bac-blue {
    height: 150px;
    width: auto;
}

.home .gear {
    height: 100px;
    bottom: 0px;
    right: 50%;
    margin-right: -8em;
    width: auto;
    position: absolute;
    animation: 4s linear 0s infinite normal none running spin;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.home .protein {
    width: auto;
}

.home .reactor_np {
    height: 250px;
    width: auto;
    margin-top: 10em;
}

.home .react_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 20px;
}

.home .reactors {
    height: 100px;
}

.home .special {
    background-color: rgb(247, 200, 150);
    border-radius: 100px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: rgb(247, 200, 150) 0px 0px 30px 30px;
}

.home #science {
    border: 0px solid rgb(242, 103, 89);
    border-radius: 2em;
    box-shadow: rgb(242, 103, 89) 0px 0px 15px inset, rgb(242, 103, 89) 0px 0px 15px 5px;
}

.home #model {
    border: 0px solid rgb(255, 152, 0);
    border-radius: 2em;
    box-shadow: rgb(255, 152, 0) 0px 0px 15px inset, rgb(255, 152, 0) 0px 0px 15px 5px;
}

.home #hp {
    border: 0px solid rgb(82, 164, 88);
    border-radius: 2em;
    box-shadow: rgb(82, 164, 88) 0px 0px 15px inset, rgb(82, 164, 88) 0px 0px 15px 5px;
}

.home #entrepreneurship {
    border: 0px solid rgb(15, 110, 184);
    border-radius: 2em;
    box-shadow: rgb(15, 110, 184) 0px 0px 15px inset, rgb(15, 110, 184) 0px 0px 15px 5px;
}

.home .final i {
    display: inline-block;
    height: 3em;
    width: 3em;
    margin: 0px 0.05em 0px 0.1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3em 3em;
}

.home p {
    font-size: 24px;
    text-align: unset;
}

.home h2 {
    font-size: 36px;
}

.home .tumor {
    height: 300px;
    width: auto;
}

.home #properties_gif {
    height: 350px;
}

.home #prot1 {
    position: absolute;
}

.home #ptt {
    height: 500px;
}

@media only screen and (min-width: 992px) {
    .home .ptt_laser {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(-50%, -50%);
        width: 100vw;
    }
}

@media only screen and (max-width: 992px) {
    .home .ptt_laser {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(-50%, -50%);
        width: 180vw;
    }
}

@media only screen and (max-width: 768px) {
    .home .ptt_laser {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translate(-50%, -50%);
        width: 250vw;
    }
}

.saf .card-small {
    padding: 1em;
    height: fit-content !important;
}

.entrepreneurship h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.entrepreneurship h2 {
    font-size: 1.75em;
    margin-top: 1em;
}

.entrepreneurship h1 {
    margin-top: 1em;
}

.entrepreneurship ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.entrepreneurship ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.implementation h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.implementation h2 {
    font-size: 1.75em;
    margin-top: 1em;
}

.implementation h1 {
    margin-top: 1em;
}

.implementation .accordion-general-label, .entrepreneurship .accordion-general-label, .model .accordion-general-label {
    margin-top: 0px;
}

.implementation ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.implementation ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.pe-modal-gallery .items {
    width: 90%;
    margin: 0px auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease 0s;
    box-shadow: rgb(248, 153, 56) 0px 0px 20px 5px;
    background-color: rgb(248, 153, 56);
    border-radius: 10px;
}

.pe-modal-gallery .slick-slider .slick-track, .slick-slider .slick-list {
    border-radius: 10px;
}

.pe-modal-gallery .slick-track {
    display: flex;
}

.pe-modal-gallery .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.pe-modal-gallery .slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pe-modal-gallery .items.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.pe-modal-gallery .items .slick-prev::before, .items .slick-next::before {
    color: rgb(248, 153, 56);
    font-size: 30px;
    z-index: 100;
}

.pe-modal-gallery .items .slick-prev {
    left: -55px;
    width: 40px;
    height: 40px;
}

.pe-comic .items {
    width: 90%;
    margin: 0px auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease 0s;
    box-shadow: rgb(248, 153, 56) 0px 0px 20px 5px;
    background-color: rgb(248, 153, 56);
}

.pe-comic .slick-track {
    display: flex;
}

.pe-comic .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.pe-comic .slick-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pe-comic .items.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.pe-comic .items .slick-prev::before, .items .slick-next::before {
    color: rgb(248, 153, 56);
    font-size: 30px;
    z-index: 100;
}

.pe-comic .items .slick-prev {
    left: -55px;
    width: 40px;
    height: 40px;
}

.pe-comic .items .slick-next {
    right: -55px;
    width: 40px;
    height: 40px;
}

.hp h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.hp h2 {
    font-size: 1.75em;
    margin-top: 1em;
}

.hp h1 {
    margin-top: 1em;
}

.hp ul {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.hp ol {
    margin-top: 0px;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.hp .person {
    border-radius: 50%;
    position: absolute;
}

.hp .modal-row {
    z-index: 2000;
}

.hp .person img {
    border-radius: 50%;
    width: 60%;
}

.hp .person.red-hp img {
    filter: drop-shadow(rgb(253, 83, 71) 0px 0px 5px);
    border: 3px solid rgb(253, 83, 71);
}

.hp .person.blue-hp img {
    filter: drop-shadow(rgb(0, 103, 182) 0px 0px 5px);
    border: 3px solid rgb(0, 103, 182);
}

.hp .person.orange-hp img {
    filter: drop-shadow(rgb(255, 148, 0) 0px 0px 5px);
    border: 3px solid rgb(255, 148, 0);
}

.hp .person.yellow-hp img {
    filter: drop-shadow(rgb(255, 217, 0) 0px 0px 5px);
    border: 3px solid rgb(255, 217, 0);
}

.hp .person.green-hp img {
    filter: drop-shadow(rgb(37, 158, 63) 0px 0px 5px);
    border: 3px solid rgb(37, 158, 63);
}

.hp .hp-card-red {
    background-color: rgb(253, 83, 71);
    box-shadow: rgb(253, 83, 71) 0px 0px 3px 2px;
}

.hp .hp-card-blue {
    background-color: rgb(0, 103, 182);
    box-shadow: rgb(0, 103, 182) 0px 0px 3px 2px;
}

.hp .hp-card-blue .card-gallery-text {
    color: white;
}

.hp .hp-card-orange {
    background-color: rgb(255, 148, 0);
    box-shadow: rgb(255, 148, 0) 0px 0px 3px 2px;
}

.hp .hp-card-yellow {
    background-color: rgb(255, 217, 0);
    box-shadow: rgb(255, 217, 0) 0px 0px 3px 2px;
}

.hp .hp-card-yellow .btn {
    background-color: rgb(255, 148, 0);
}

.hp .hp-card-green {
    background-color: rgb(37, 158, 63);
    box-shadow: rgb(37, 158, 63) 0px 0px 3px 2px;
}

a.anchor {
    display: block;
    position: relative;
    top: -7em;
    visibility: hidden;
}

.hp .card-gallery {
    max-height: unset;
    border-radius: 10px;
}

.hp .card-hp {
    display: none;
}

.hp .modal-backdrop {
    opacity: 0;
}

.hp .modal {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000 !important;
}

.hp .active_card {
    display: block;
}

.hp .card-gallery-text ul {
    font-size: 1.2em;
}

.hp .person {
    cursor: pointer;
}

.hp #background-race {
    z-index: -100;
}

.hp #person1 {
    top: 20%;
    left: 8%;
}

.hp #person2 {
    top: 20.5%;
    left: 29%;
}

.hp #person3 {
    top: 20%;
    left: 50%;
}

.hp #person4 {
    top: 20.5%;
    left: 76%;
}

.hp #person5 {
    top: 35.5%;
    left: 70%;
}

.hp #person6 {
    top: 37%;
    left: 50%;
}

.hp #person7 {
    top: 37.5%;
    left: 29%;
}

.hp #person8 {
    top: 37%;
    left: 10%;
}

.hp #person9 {
    top: 53%;
    left: 20%;
}

.hp #person10 {
    top: 53%;
    left: 45%;
}

.hp #person11 {
    top: 52%;
    left: 76%;
}

.hp #person12 {
    top: 70.5%;
    left: 76%;
}

.hp #person13 {
    top: 70%;
    left: 50%;
}

.hp #person14 {
    top: 70.5%;
    left: 29%;
}

.hp #person15 {
    top: 75%;
    left: 5%;
}

.hp #person16 {
    top: 88%;
    left: 20%;
}

.hp #person17 {
    top: 85%;
    left: 40%;
}

.hp #person18 {
    top: 83.5%;
    left: 65%;
}

@media only screen and (max-width: 1200px) {
    .card-gallery {
        width: 90%;
        max-width: 550px;
        max-height: 800px;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .card-gallery-title-s, .card-gallery-title-e {
        max-width: 600px;
    }
}

@media only screen and (max-width: 992px) {
    #subheader {
        font-size: 1.5em;
    }

    #header .orange-circle {
        height: 180px;
        width: 180px;
    }

    #header .blue-circle {
        height: 180px;
        width: 180px;
    }

    #sidenav-wrapper {
        display: none !important;
    }

    #page-content-wrapper {
        margin-top: 5em;
    }

    .wi-lg-30, .wi-lg-40, .wi-lg-50, .wi-lg-60, .wi-lg-75, .wi-lg-90 {
        width: 100% !important;
    }

    iframe.pdf {
        width: 100%;
        height: 400px;
    }

    .card-gallery-date-wrapper {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .card-gallery-day-s, .card-gallery-day-e {
        left: 0px;
        font-size: 150px;
        line-height: 120px;
    }

    .card-gallery-date-s, .card-gallery-date-e {
        left: 0px;
        font-size: 32px;
        line-height: 30px;
    }

    .card-gallery-title-s, .card-gallery-title-e {
        font-size: 43px;
    }

    .card-gallery .slick-slide img {
        width: inherit;
    }

    .sticky-note-y, .sticky-note-b, .sticky-note-r {
        margin-top: 3rem;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    figure {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    #bbdesign {
        top: 0px;
    }

    .sponsor-logos-small {
        width: 32%;
    }
}

@media only screen and (max-width: 768px) {
    #header .orange-circle {
        height: 110px;
        width: 110px;
    }

    #header .blue-circle {
        height: 110px;
        width: 110px;
    }

    .math-large {
        font-size: 1.75em;
    }

    .sponsor-logos-small {
        width: 30%;
    }

    .wi-md-30, .wi-md-40, .wi-md-50, .wi-md-60, .wi-md-75, .wi-md-90 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 576px) {
    #header .orange-circle {
        display: none;
    }

    #header .sm {
        font-size: 2.3em !important;
    }

    #header .blue-circle {
        display: none;
    }

    #subheader {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        font-size: 1.125em;
    }

    #subheader p {
        text-align: center;
    }

    h1 {
        font-size: 1.5em;
    }

    h2, p.sticky-note-header {
        font-size: 1.125em;
    }

    p {
        font-size: 1em;
    }

    .sponsor-keywords-b p, .sponsor-keywords-o p, .sponsor-keywords-r p {
        font-size: 1em;
        padding: 0px 0.1em;
    }

    .math-large {
        font-size: 1.25em;
    }

    .table {
        font-size: 0.8em;
    }

    .emphasis-text, .accordion-general .accordion-general-label {
        font-size: 1.125em;
    }

    .accordion-general .accordion-general-label {
        line-height: 2;
    }

    .card-gallery .slick-slide img {
        height: 200px;
    }

    .card-gallery .slick-prev {
        left: -30px;
        width: 25px;
        height: 25px;
    }

    .card-gallery .slick-next {
        right: -30px;
        width: 25px;
        height: 25px;
    }

    .card-gallery .slick-prev::before, .card-gallery .slick-next::before {
        font-size: 25px;
    }

    .sponsor-logos-small {
        width: 45%;
    }

    .saf .card-small {
        height: 450px;
    }

    .wi-sm-30, .wi-sm-40, .wi-sm-50, .wi-sm-60, .wi-sm-75, .wi-sm-90 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 500px) {
    .saf .card-small {
        height: 500px;
    }
}

@media only screen and (max-width: 450px) {
    .saf .card-small {
        height: 640px;
    }
}

@media (max-width: 576px) {
    .navbar-collapse {
        max-height: calc(-50px + 100vh);
        overflow-y: auto;
    }
}

.navbar-expand-md {
    @media (max-width: 768px) {
        & .navbar-collapse {
            max-height: calc(-50px + 100vh);
            overflow-y: auto;
        }
    }
}

.navbar-expand-lg {
    @media (max-width: 992px) {
        & .navbar-collapse {
            max-height: calc(-50px + 100vh);
            overflow-y: auto;
        }
    }
}

.navbar-expand-xl {
    @media (max-width: 1200px) {
        & .navbar-collapse {
            max-height: calc(-50px + 100vh);
            overflow-y: auto;
        }
    }
}

mjx-container {
    overflow-x: auto;
    min-width: 0px !important;
}

@media only screen and (min-width: 1200px) {
    .awards_showcase {
        top: 8em;
        left: 3em;
        width: 8em;
        height: 8em;
    }
}

@media only screen and (max-width: 578px) {
    .awards_showcase {
        top: 6em;
        left: 0.1em;
        width: 10em;
        height: 10em;
    }
}

@media only screen and (min-width: 578px) {
    .awards_showcase {
        top: 8em;
        left: 2em;
        width: 10em;
        height: 10em;
    }
}

.awards_slick img {
    width: 33%;
}
